.dropdown {
	@apply flex flex-col gap-2;

	.menu {
		@apply bg-white rounded-lg px-2 py-2 flex flex-col items-start gap-2;

		animation: menuIn 0.4s ease;
	}
}

.trigger {
	@apply flex items-center gap-3 text-lg border px-4 p-2 border-gray-300 rounded-lg;

	.icon {
		@apply transition-all duration-300;
	}
}

.iconOpen {
	@apply rotate-180 transition-all;
}

@keyframes menuIn {
	0% {
		opacity: 0;
		transform: translateY(-8px);
		max-height: 0;
		overflow: hidden;
	}
	44% {
		max-height: min(100%, 1000px);
	}
	55% {
		opacity: 1;
		transform: translateY(0);
	}
}
