.overlay {
	@apply bg-black/30 fixed inset-0 flex items-center justify-center;

	.content {
		animation: openModal 0.4s ease;
		@apply bg-white p-5 rounded-lg transition-all duration-300 min-w-[20%];

		.header {
			@apply flex items-center justify-between mb-4;

			.title {
				@apply text-xl font-medium;
			}
		}
	}
}

@keyframes openModal {
	0% {
		opacity: 0;
		transform: translateY(-8px);
		max-height: 0;
		overflow: hidden;
	}
	44% {
		max-height: min(100%, 1000px);
	}
	55% {
		opacity: 1;
		transform: translateY(0);
	}
}
